@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-primaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("../Assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    border: 2px solid var(--branco-principal);
    background-color: transparent;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundário);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 60%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundário);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 3em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 145px 450px 99px 450px;
    gap: 35px;
}

.rodape__logo {
    width: 10%;
}

.rodape__links {
    display: flex;
    gap: 18px;
}

.rodape__links__navegacao {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: var(--branco-principal);
    font-size: 16px;
}

.rodape__texto {
    text-align: center;
    font-family: var(--fonte-primaria);
    color: var(--cinza-secundário);
    font-size: 14px;
}

.rodape__links__navegacao:hover {
    color: var(--botao-azul);
}

.rodape__links__navegacao:active {
    color: var(--cinza-secundário);
}